.title-company {
	height: 100px;
	background-color: #bf372a;
	color: #fff;
}
#cover .img-responsive {
	width: 100%;
	max-width: 700px;
	height: auto;
	filter: drop-shadow(8px 8px 10px gray);
}

#profile {
	background-color: beige;
	filter: drop-shadow(4px 4px 8px gray);
	border-radius: 10px;
	padding-left: 30px;
}
#profile .img-responsive {
	width: 100%;
	height: auto;
	filter: drop-shadow(8px 8px 10px gray);
}
#profile .profile-content {
	width: 100%;
	padding-left: 50px;
	padding-right: 40px;
}
